@font-face {
  font-family: "iconfont"; /* Project id 4052666 */
  src: url('//at.alicdn.com/t/c/font_4052666_be64ckeyl7i.woff2?t=1683622378481') format('woff2'),
       url('//at.alicdn.com/t/c/font_4052666_be64ckeyl7i.woff?t=1683622378481') format('woff'),
       url('//at.alicdn.com/t/c/font_4052666_be64ckeyl7i.ttf?t=1683622378481') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-yonghuming:before {
  content: "\e612";
}

.icon-zhucetianjiahaoyou:before {
  content: "\e8ca";
}

.icon-denglu:before {
  content: "\e66b";
}

.icon-xiaoxi:before {
  content: "\e711";
}

.icon-shuliangtongji:before {
  content: "\e667";
}

.icon-shuyi_qunliao:before {
  content: "\e661";
}

.icon-chengyuanshuliang:before {
  content: "\e606";
}

.icon-xitongcaidan:before {
  content: "\e696";
}

.icon-xitongpeizhi:before {
  content: "\e684";
}

.icon-tianjiayonghu:before {
  content: "\e698";
}

.icon-user-list:before {
  content: "\e60a";
}

.icon-yonghuguanli:before {
  content: "\e66e";
}

.icon-home:before {
  content: "\e69b";
}

.icon-quanping:before {
  content: "\e8fb";
}

.icon-tuichuquanping:before {
  content: "\e8fa";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-wenzhang:before {
  content: "\e668";
}

.icon-tupian:before {
  content: "\eac4";
}

.icon-shezhi:before {
  content: "\e8b7";
}
